* {
  padding: 0;
  margin: 0;
}

body {
  background-color: beige;
  font-family: sans-serif;
}

.heading {
  background-color: rgba(128, 128, 128, 0.41);
  text-align: center;
  text-transform: uppercase;
  border-top: 2px solid rgb(127, 129, 127);
  border-bottom: 2px solid rgb(127, 131, 127);
  padding: 10px;
}

header p {
  font-size: 30px;
}

.free {
  font-size: 20px;
  color: rgba(128, 128, 128, 0.596);
  text-transform: uppercase;
  margin-top: 5px;
}

h4 {
  text-transform: uppercase;
  margin-top: 30px;
}

.info:link,
.info:visited {
  color: black;
}

.info:hover,
.info:active {
  text-decoration: none;
}

.footer {
  font-size: 15px;
  background-color: rgba(173, 192, 194, 0.925);
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  text-align: center;
  font-weight: bold;
}

.button {
  text-transform: uppercase;
  background-color: black;
  color: bisque;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-bottom: 0;
}

.button:hover {
  color: black;
  background-color: bisque;
}

.details {
  list-style: square;
  margin: 20px;
  line-height: 2;
}

.container {
  width: 825px;
  margin: 40px auto;
  border: 5px solid #000000;
}

p {
  margin-top: 20px;
}
