* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  border-top: 5px solid rgb(83, 78, 4);
  margin-left: 5px;
}

h1,
h2,
h3,
h4 {
  color: darkcyan;
}

h1 {
  font-size: 21px;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

nav {
  margin-top: 10px;
}

article {
  margin-bottom: 60px;
}

.footer {
  background-color: #e0a80e9c;
  padding: 5px 10px;
  border-top: 3px solid white;
  font-size: 10px;
  text-align: center;
}

#Author {
  font-style: italic;
  font-size: 18px;
}

.rel-author {
  font-size: 16px;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #e0a80e9c;
  padding: 20px 40px;
  margin-bottom: 40px;
  height: 80px;
}

aside {
  background-color: rgba(130, 134, 134, 0.514);
  border-top: 5px solid #1fececcc;
  border-bottom: 5px solid #1fececcc;
  padding: 50px 0;
  width: 500px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

a:link {
  color: darkcyan;
  text-decoration: none;
}

a:visited {
  color: darkcyan;
}

a:hover {
  color: darkgoldenrod;
  font-weight: bold;
  text-decoration: underline dotted goldenrod;
}

a:active {
  background-color: darkslategrey;
  font-style: italic;
}

ol,
ul {
  margin-left: 50px;
  margin-bottom: 20px;
}

.post-header {
  margin-bottom: 40px;
}

.post-image {
  width: 100%;
  height: auto;
}

.container {
  width: 900px;
  margin: 0 auto;
}
